{% extends "layout.html" %}
{% load menubuilder %}
{% load articles_tags %}

{% block content %}

{% if price %}
    <div class="content">
        <h1>{{ price.title }}</h1>
{#        {{ price.content|safe }}#}

        <a class="button show_price" href="#"><i class="fa fa-usd"></i> Посмотреть прайс</a>
        <p>Карта 0,76мм толщиной и печатью с двух сторон!<br>Печатаем сборным тиражом, <span>офсетной печатью</span> на оборудовании KBA Genius, тонкие линии, микрошрифт - суперкачество.</p>
        <div class="hide">
            <table class="vertical">
                <tr>
                    <th>Количество карт 0,76мм 4х4</th>
                    <td>500</td>
                    <td>1000</td>
                    <td>4000</td>
                    <td>5000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <th>Цена с учётом НДС</th>
                    <td>6 <i class="fa fa-rub"></i></td>
                    <td>4 <i class="fa fa-rub"></i></td>
                    <td>4 <i class="fa fa-rub"></i></td>
                    <td>3,5 <i class="fa fa-rub"></i></td>
                    <td>3,5 <i class="fa fa-rub"></i></td>
                </tr>
            </table>
        </div>
        <h3>Срок изготовления сборных тиражей - 7 рабочих дней.</h3>
        <div class="hide">
            <table class="vertical">
                <tr>
                    <th>Печать штрих-кода печатной нумерации чёрным цветом</th>
                    <td>0.5 <i class="fa fa-rub"></i> за одну сторону</td>
                </tr>
                <tr>
                    <th>Эмбоссирование с окрасом(типирование) серебро, золото</th>
                    <td>1.8 <i class="fa fa-rub"></i> за карту</td>
                </tr>
                <tr>
                    <th>Магнитная полоса HiCo</th>
                    <td>1.8 <i class="fa fa-rub"></i> за карту</td>
                </tr>
                <tr>
                    <th>Кодирование магнитной полосы</th>
                    <td>0.9 <i class="fa fa-rub"></i> за карту</td>
                </tr>
                <tr>
                    <th>Нанесение полосы для подписи</th>
                    <td>3.5 <i class="fa fa-rub"></i> за одну сторону</td>
                </tr>
                <tr>
                    <th>Нанесение скретч-панели</th>
                    <td>2.5 <i class="fa fa-rub"></i> за одну сторону</td>
                </tr>
                <tr>
                    <th>Нанесение фольги</th>
                    <td>3 <i class="fa fa-rub"></i> за одну сторону</td>
                </tr>
            </table>
        </div>
        <p>Если у вас возникли вопросы, можете обратиться к нашим менеджерам по телефону: </p>
            <ul>
                <li>Телефон в Москве: <span class="phone"><a class="tel" href="tel://+74953745858">(495) 374 58 58</a></span></li>
                <li>Телефон в Санкт-Петербурге: <span class="phone"><a class="tel" href="tel://+78127027777">(812) 702 77 77</a></span></li>
            </ul>
        <p>Так же вы можете воспользоваться интерективным калькулятором расчета карт</p>
        {#<h1>Калькулятор карт</h1>#}
    </div>
    <section class="about">
        <span><span>Наши преимущества:</span></span>
        <ol class="round_numbers_">
            <li><small>1</small>Обработка заказа не более 30 минут.</li>
            <li><small>2</small>Собственное производство - низкие цены.</li>
            <li><small>3</small>Отсрочка платежа до 30 календарных дней для постоянных клиентов.</li>
            <li><small>4</small>Бесплатная удобная упаковка продукции.</li>
            <li><small>5</small>Команда профессиональных дизайнеров.</li>
            <li><small>6</small>Отменное качество продукции.</li>
            <li><small>7</small>Производительность до 50 000 карт в день.</li>
            <li><small>8</small>Офсетная печать!</li>
            <li><small>9</small>Крупнейшее производство в Северо-Западном регионе.</li>
            <li><small>10</small>Европейское качество продукции соответствующие стандартам ISO.</li>
            <li><small>11</small>Используем самое современное оборудование! Для печати мы выбрали KBA Genius.</li>
            <li><small>12</small>Карты, произведенные в EUROCARD, успешно используют более 33 000 компаний по всей России!</li>
        </ol>
    </section>
    {% comment %}
    <section class="order">
        <div>
            <div class="easy_form current">
                <form class="jClever filter">
                    <ul>
                        <li>
                            <span id="first_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="first_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Тиснение фольгой</p>
                        </li>
                        <li>
                            <span id="second_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="second_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Эмбоссирование</p>
                        </li>
                        <li>
                            <span id="third_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="third_flag"><span></span><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Полоса для подписи</p>
                        </li>
                        <li>
                            <span id="fourth_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="fourth_flag"><span></span><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Индент печать</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span id="fifth_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="fifth_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Печатный номер</p>
                        </li>
                        <li>
                            <span id="sixth_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="sixth_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Магнитная полоса</p>
                        </li>
                        <li>
                            <span id="seventh_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="seventh_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Штрих код</p>
                        </li>
                        <li>
                            <span id="eighth_flag">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small>
                                <i class="fa fa-question"></i>
                                <span class="eighth_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Скрейтч панель</p>
                        </li>
                    </ul>
                    <ul class="order">
                        <li class="info"></li>
                        <li class="printing"></li>
                        <li class="time"></li>
                        <li>
                            <label>Тираж:</label>
                            <input type="text" class="edition" name="count">
                        </li>
                        <li>
                            <label>Цвет:</label>
                            <div class="select color">
                                <select name="color">
                                    <option value="1">Text one</option>
                                    <option value="2">Text two</option>
                                    <option value="3">Text three</option>
                                    <option value="4">Text four</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>Материал:</label>
                            <div class="select materials">
                                <select name="material">
                                    <option value="1">Text one</option>
                                    <option value="2">Text two</option>
                                    <option value="3">Text three</option>
                                    <option value="4">Text four</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>Сумма:</label>
                            <p class="sum">15 000 000 руб.</p>
                        </li>
                        <li>
                            <label>ФИО:</label>
                            <input type="text" name="user">
                        </li>
                        <li>
                            <label>Телефон:</label>
                            <input type="text" name="phone">
                        </li>
                        <li>
                            <label>Email:</label>
                            <input type="email" name="email">
                        </li>
                        <li>
                            <a href="#" class="next_step">Заказать</a>
                            <!--
                            <input type="submit" value="Заказать">
                            -->
                        </li>
                    </ul>
                    <input type="hidden" name="first_flag" value="">
                    <input type="hidden" name="second_flag" value="">
                    <input type="hidden" name="third_flag" value="">
                    <input type="hidden" name="fourth_flag" value="">
                    <input type="hidden" name="fifth_flag" value="">
                    <input type="hidden" name="sixth_flag" value="">
                    <input type="hidden" name="seventh_flag" value="">
                    <input type="hidden" name="eighth_flag" value="">
                </form>
            </div>
        </div>
    </section>
    {% endcomment %}

{% endif %}

{% if makets %}
    <div class="content">
    {% comment %}
        <h1>{{ coop.title }}</h1>
    {% endcomment %}
        <h1>Требования к макету</h1>
        <div class="download_file_types">
            <a href="http://eurocard.naminteresno.ru/static/images/content/Card-template.pdf"><i class="fa fa-file"></i><span>Скачать шаблон в формате PDF</span></a>
            <a href="http://eurocard.naminteresno.ru/static/images/content/Card-template.ai"><i class="fa fa-file"></i><span>Скачать шаблон в формате Ai</span></a>
            <a href="http://eurocard.naminteresno.ru/static/images/content/eurocard_makets.pdf"><i class="fa fa-file"></i><span>Полезная информация</span></a>
        </div>
        <img src="{{ makets.card.url }}" class="left">
        {% comment %}
        <h2>Общие требования к макету для изготовления пластиковых карт</h2> 
        <ul>
            <li>Файлы должны быть предоставлены в формате векторных программ: Adobe Illustrator или Corel Draw. Возможно использование растровых изображений с разрешением не менее 300 dpi.</li>
            <li>Все шрифты должны быть конвертированы в кривые.</li>
            <li>Размер изображения должен быть 91*58 мм - больше формата пластиковой карты (86*54мм).</li>
        </ul>
        <h2>Магнитная полоса</h2>
        <img class="right" src="http://maple-alley.ru/wp-content/uploads/2013/08/magnet2.png" alt="Карта с магнитной полосой">
        <p>Магнитная полоса - носитель информации.</p>
        <p>По силе намагничивания различают два вида магнитных полос:</p>
        <ul>
            <li>HiCo (High Coercitive - высококоэрцитивные = 2750 эрстед)</li>
            <li>LoCo (Low Coercitive - низкокоэрцетивные = 300 эрстед).</li>
        </ul>
        <p>Пластиковые карты с магнитной полосой HiCo более надежны и долговечны, но и стоят они дороже, чем карты с магнитной полосой LoCo.</p>
        <p>Для дисконтных карт используется магнитная полоса LoCo, так как владельцы пользуются картой сравнительно редко.<br>
        Для промышленных предприятий, где карта используется сотрудниками ежедневно для прохода через турникеты, для банковских карт - используется магнитная полоса HiCo.<br>
        На магнитной полосе находится три дорожки, по которым можно нанести ту или иную информацию. Все три дорожки магнитной полосы используются, как правило, в международных банковских платежных системах.<br>
        В дисконтных системах, в локальных платежных системах, а также в системах доступа используется чаше всего одна дорожка (обычно вторая).</p>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Начало записи</th>
                    <th>Кодируемые символы</th>
                    <th>Количество символов</th>
                    <th>Конец записи</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Track 1</td>
                    <td><strong>%</strong></td>
                    <td>0-9 A-Z . , : ; ! ' / = ( ) ! @ # ^ &amp; * &lt; &gt; /</td>
                    <td>76</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>Track 2</td>
                    <td>;</td>
                    <td>0-9 =</td>
                    <td>37</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>Track 3</td>
                    <td>_</td>
                    <td>0-9 =</td>
                    <td>104</td>
                    <td>?</td>
                </tr>
            </tbody>
        </table>
        <h2>Штрих-код</h2>
        <img class="right" src="http://maple-alley.ru/wp-content/uploads/2013/08/barcode.png" alt="Штрих-код">
         <p>Наиболее распространены штрих-кода: Code 128, Code 39 (3 из 9), EAN-13, Interleaved 2 of 5 (или ITF), а также Codabar, EAN-8, EAN-128, UPC, Code 93, расширенные Code 39 и Code 93.</p>
        <p>При размещении штрих-кода нужно учитывать:</p>
        <ol>
            <li>длина штрих-кода зависит от его типа и количества кодируемых символов;</li>
            <li>для уверенного считывания штрих-код должен быть наложен на светлую поверхность, идеально, если фон белый;</li>
            <li>должны присутствовать отступы (отсутствие темных элементов) от начала и конца штрих-кода по 3мм;</li>
        </ol>
        <h2>Сублимационная печать</h2>
        <img class="right" src="http://maple-alley.ru/wp-content/uploads/2013/08/silver.png" alt="Термотрансфер золото, серебро, черный">
        <p>Как правило используется для нанесения персональной информации (номер, текст и т.д.). Также может использоваться для печати золотом или серебром, когда это невозможно сделать методом тиснением.</p>
        <p>Для элементов персонализации необходимо указать: название шрифта, его начертание (стиль) и размер. Размер текста в пунктах не менее 6 pt (для стиля Bold), не менее 10 pt (для стиля Normal). При персонализации кириллицей существует ограничение по доступным шрифтам.</p>
        <h2>Эмбоссирование пластиковых карт</h2>
        <img class="right" src="http://maple-alley.ru/wp-content/uploads/2013/08/gold.png" alt="Эмбоссирование">
        <p>Эмбоссирование - один из способов персонализации пластиковых карточек, при котором на готовой пластиковой карточке выдавливаются символы. Обычно можно встретить на банковской карте. После этой операции символы покрываются фольгой (золотом, серебром, черным или белым цветами), такая операция называется типированием.</p>
        <p>При эмбоссировании нужно учитывать:</p>
        <ul>
            <li>Эмбоссирование символов возможно только при горизонтальной ориентации карточки.</li>
            <li>Эмбоссирование осуществляется двумя видами шрифтов: высотой 4,5 мм &ndash; большой (Farrington OCR); высотой 3 мм &ndash; малый (Standart Gothic и Cyrillic).</li>
            <li>Большой шрифт может содержать только цифры: 0123456789</li>
            <li>Малый шрифт - цифры и заглавные буквы русского и английского алфавитов, включая символы: <strong>. , &rsquo; - / &amp;</strong></li>
            <li>Эмбоссирование изображения, учитывая требования стандарта ISO 7811-3 должно располагаться на расстоянии не менее 5 мм от любого края карты</li>
            <li>При разработке дизайна рекомендуется учитывать месторасположение эмбоссирования с двух сторон карточки.</li>
        </ul>
        {% endcomment %}
    </div>
{% endif %}

{% if about %}
    <div class="content">
        {% comment %}
        <h1>{{ about.title }}</h1>
            {{ about.content|safe }}
        {% endcomment %}
        <h1>Виды пластиковых карт</h1>            
        <p>Компания &laquo;Еврокард&raquo; ежедневно выпускает порядка 150 тыс. пластиковых карточек разных видов, обеспечивая 100 тыс. заказчиков качественными носителями информации.</p>
        <h2>Классификация пластиковых карт нашего производства</h2>
        <p><a href="http://eurocard.naminteresno.ru/page/diskontnye-karty/">Дисконтные (накопительные или бонусные)</a> - удобны для компании, предоставляющей льготы клиентам, поскольку позволяют отследить объемы продаж на тот или иной вид товаров/услуг.</p>
        <p><a href="http://eurocard.naminteresno.ru/page/identifikaconnye-karty/">Идентификационные (клубные, пластиковые визитки, бейджи)</a> - максимально практичны. Поскольку пластик более долговечный материал, чем бумага или картон, такие карточки служат дольше, не теряя презентабельного вида.</p>
        <p><a href="http://eurocard.naminteresno.ru/page/avansovie-karty/">Авансовые или предоплатные</a> - один из наиболее популярных видов пластиковых карт. Они позволяют компании сделать свои услуги более доступными и удобными для клиентов.</p>
        <p><a href="http://eurocard.naminteresno.ru/page/reklamnye-karty/">Рекламные</a> - представительные календари, визитки и другие средства информирования, которые выполнены в пластике, выглядят презентабельно и долго хранятся, напоминая о компании/ товарах/ услугах.</p>
        <p><a href="http://eurocard.naminteresno.ru/page/strahovye-karty/">Страховые карты</a> - аналог страхового полиса со штрих-кодом или микросхемой, где содержится вся информация о владельце. Такой документ гораздо более удобен и практичен в использовании, чем традиционный бумажный.</p>
        <p><a href="http://eurocard.naminteresno.ru/page/podarochnye-karty/">Подарочные карты и сертификаты</a> - наиболее простой и бесхлопотный способ наградить или поздравить большое количество людей.</p>
        <p><a href="http://eurocard.naminteresno.ru/page/toplivnye-karty/">Топливные карты</a> - современное электронное устройство, предназначенное для заправки на АЗС. Это простой, удобный и надежный способ расчетов с клиентами.</p>
{#        <p><a href="http://eurocard.naminteresno.ru/page/elektronnaya-karta-klyuch/">Электронная карта ключ</a> - современное средство, которое в отличие от обычного ключа, позволяет не только санкционировать доступ, но и получать подробную информацию о том, кто и когда посещал помещение.</p>#}
        <p><a href="http://eurocard.naminteresno.ru/page/firmennye-dengi/">Фирменные деньги</a> - удобные средства платежа, которые могут использоваться для контроля денежного оборота организаторами фестивалей, выставок и прочих мероприятий.</p>
        <p>Это основные виды пластиковых карт, которые мы можем предложить.</p>
    </div>
{% endif %}
{% if clients %}
<h1>Клиенты</h1>
<ul class="clients">
{% for client in clients %}
    <li>
        <span style="background: url('{{ client.logo.url }}') no-repeat center center" href="#"></span>
        <span style="background: url('{{ client.card.url }}') no-repeat center center"></span>
        <p>{{ client.content|safe }}</p>
    </li>
{% endfor %}
</ul>

{% endif %}

{% if news %}
<h1>Новости</h1>
<ul class="news">
{% for item in news %}
    <li>
        <h2>
            <a href="/article/{{ item.slug }}">{{ item.title }}</a>
        </h2>
        <small>{{ item.published_at }}</small>
        {{ item.annotation|safe }}
    </li>
{% endfor %}
</ul>
{% endif %}


{% if newsitem %}
    <div class="content">
        <h1>{{ newsitem.title }}</h1>
        {{ newsitem.content|safe }}
    </div>
{% endif %}
{% endblock %}

{% block section %}

{% if price %}
    {% active_news_block %}
{% endif %}

{% if coop %}
    <section class="about">
        <span><span><span>Evrocard</span> - это:</span></span>
        <ul>
            <li class="good_price">
                <span>Лучшие цены</span>
                <span>1000 карт ВСЕГО 4 рубля за шт.</span>
            </li>
            <li class="equipment">
                <span>Современное оборудование</span>
                <span>Для печати мы выбрали KBA Genius</span>
            </li>
            <li class="once_we">
                <span>Только у нас</span>
                <span>Микрошрифт, печать волосяных линий</span>
            </li>
            <li class="fast_order">
                <span>Быстрый заказ</span>
                <span>Если вы здесь не в первый раз</span>
            </li>
        </ul>
    </section>
    <section class="clients">
        <span><span>Наши клиенты</span></span>
        <div class="carousel">
            <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            <div>
                <div class="item" style="background: url('/static/images/cl_1.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_2.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_5.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_6.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
            </div>
        </div>
    </section>
    {% active_news_block %}
{% endif %}

{% if about %}
    <section class="about">
        <span><span><span>Evrocard</span> - это:</span></span>
        <ul>
            <li class="good_price">
                <span>Лучшие цены</span>
                <span>1000 карт ВСЕГО 4 рубля за шт.</span>
            </li>
            <li class="equipment">
                <span>Современное оборудование</span>
                <span>Для печати мы выбрали KBA Genius</span>
            </li>
            <li class="once_we">
                <span>Только у нас</span>
                <span>Микрошрифт, печать волосяных линий</span>
            </li>
            <li class="fast_order">
                <span>Быстрый заказ</span>
                <span>Если вы здесь не в первый раз</span>
            </li>
        </ul>
    </section>
    <section class="clients">
        <span><span>Наши клиенты</span></span>
        <div class="carousel">
            <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            <div>
                <div class="item" style="background: url('/static/images/cl_1.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_2.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_5.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_6.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
            </div>
        </div>
    </section>
    {% active_news_block %}
{% endif %}

{% if clients %}
     {% active_news_block %}
{% endif %}


{% endblock %}



{% block about_ %}
<section class="about">
    <span><span>Наши преимущества:</span></span>
        <span><span>Наши преимущества:</span></span>
        <ul>
            <li class="good_price">
                <span> Собственное производство - низкие цены.</span>
            </li>
            <li class="equipment">
                <span>Офсетная печать – исключительное качество.</span>
            </li>
            <li class="once_we">
                <span>Любая персонализация включая индент печать.</span>
            </li>
            <li class="fast_order">
                <span>Инновационные технологии.</span>
            </li>
        </ul>
</section>
{% endblock %}
{% block benefits %}
<section class="benefits">
    <span><span>Наши преимущества</span></span>
    <ul>
        <li>
            <span class="cool_one"></span>
            <h2>Сырьё Klekner</h2>
            <span>Супер-качество.</span>
        </li>
        <li>
            <span class="cool_two"></span>
            <h2>Печать Kba</h2>
            <span>Точность передачи цвета.</span>
        </li>
        <li>
            <span class="cool_three"></span>
            <h2>Ламинация VIP</h2>
            <span>Английский пластик, идеальная поверхность.</span>
        </li>
        <li>
            <span class="cool_four"></span>
            <h2>Вырубка KARL RESSLER</h2>
            <span>Немецкая точность</span>
        </li>
        <li>
            <span class="cool_five"></span>
            <h2>Сортировка VIP</h2>
            <span>Ручной отбор, 3 уровня брака.</span>
        </li>
        <li>
            <span class="cool_six"></span>
            <h2>Персонализация Matica</h2>
            <span>Быстро, качественно, надежно.</span>
        </li>
    </ul>
</section>
{% endblock %}          
{% block our_clients %}
    <section class="clients">
        <span><span>Наши клиенты</span></span>
        <div class="carousel">
            <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            <div>
                <div class="item" style="background: url('/static/images/cl_1.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_2.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_5.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_6.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
                <div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block actions %}
    {% active_news_block %}
{% endblock %}




