<!DOCTYPE html>
<html>
	<head>
		<title>eurocard</title>
		<meta charset="utf-8">
		<link rel='stylesheet' href='{{ STATIC_URL }}css/reset.css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}css/template.css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}libs/fonts/awesome/css/font-awesome.css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}libs/jclever/jCleverTemplate/alice/css/jClever.css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}libs/jclever/jCleverTemplate/alice/css/jquery.jscrollpane.css'>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<[endif]-->
		<script src='{{ STATIC_URL }}libs/jquery-1.10.2.min.js'></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
		<script src='{{ STATIC_URL }}libs/helper/jquery.jscrollpane.min.js'></script>
		<script src='{{ STATIC_URL }}libs/helper/jquery.mousewheel.min.js'></script>
		<script src='{{ STATIC_URL }}libs/helper/jquery.transit.min.js'></script>
		<script src='{{ STATIC_URL }}libs/helper/jquery.touchSwipe.min.js'></script>
		<script src='{{ STATIC_URL }}libs/helper/jquery.ba-throttle-debounce.min.js'></script>

		<script src='{{ STATIC_URL }}libs/jclever/jclever.js'></script>
		<script src='{{ STATIC_URL }}libs/carousel_fred/jquery.carouFredSel-6.2.1-packed.js'></script>
		<script src='{{ STATIC_URL }}js/init.js'></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,300,400italic,700,300italic,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet'>
        {% block header-additions %}
        {% endblock %}
	</head>
	<body>
	<div class="area"></div>
    {% block wrap_all %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
	</body>
</html>
