<!DOCTYPE html>
<html>
	<head>
		<title>eurocard</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/template.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}libs/fonts/awesome/css/font-awesome.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}libs/jclever/jCleverTemplate/alice/css/jClever.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}libs/jclever/jCleverTemplate/alice/css/jquery.jscrollpane.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}libs/mp/magnific-popup.css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,300,400italic,700,300italic,700italic&subset=latin,cyrillic-ext,cyrillic" rel="stylesheet">
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

		<![endif]-->
		<script src="{{ STATIC_URL }}libs/jquery-1.10.2.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script src="{{ STATIC_URL }}libs/calc.js"></script>
        <script src="{{ STATIC_URL }}libs/validate.js"></script>
		<script src="{{ STATIC_URL }}libs/helper/jquery.jscrollpane.min.js"></script>
		<script src="{{ STATIC_URL }}libs/helper/jquery.mousewheel.min.js"></script>
		<script src="{{ STATIC_URL }}libs/helper/jquery.transit.min.js"></script>
		<script src="{{ STATIC_URL }}libs/helper/jquery.touchSwipe.min.js"></script>
		<script src="{{ STATIC_URL }}libs/helper/jquery.ba-throttle-debounce.min.js"></script>
		<script src="{{ STATIC_URL }}libs/jclever/jclever.js"></script>
		<script src="{{ STATIC_URL }}libs/carousel_fred/jquery.carouFredSel-6.2.1-packed.js"></script>

		<script src="{{ STATIC_URL }}libs/mp/jquery.magnific-popup.js"></script>
		<script src="{{ STATIC_URL }}libs/mp/ru.js"></script>
		<script src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>
		<script src="{{ STATIC_URL }}js/init.js"></script>

		{% block gmap %}
		{% endblock %}
	</head>
	<body>
    {% block wrap_all %}
    {% endblock %}
    {% block footer %}
    {% endblock %}

<!-- Start SiteHeart code -->
<script>
(function(){
var widget_id = 694109;
_shcp =[{widget_id : widget_id}];
var lang =(navigator.language || navigator.systemLanguage
|| navigator.userLanguage ||"en")
.substr(0,2).toLowerCase();
var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
var hcc = document.createElement("script");
hcc.type ="text/javascript";
hcc.async =true;
hcc.src =("https:"== document.location.protocol ?"https":"http")
+"://"+ url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<!-- End SiteHeart code -->
<!--noindex-->
<!--LiveInternet counter--><script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t45.1;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) + ";" + Math.random() + "' border=0 width=31 height=31 alt='' title='LiveInternet'><\/a>")</script><!--/LiveInternet-->
<!--/noindex-->

<!--noindex-->
<!-- Google Analitics-->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-23888753-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- Google Analitics-->
<!--/noindex-->

<!--noindex-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter15777295 = new Ya.Metrika({id:15777295, enableAll: true, ut:"noindex", webvisor:true});
        } catch(e) {}
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/15777295?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!--/noindex-->
	</body>
</html>
