
{% extends "layout.html" %}

{% comment %}
	{% block ya_map %}
	<script src="http://api-maps.yandex.ru/1.1/index.xml?key=ANxN8FIBAAAAwwWmJgMAdxD_6S60PBGwZbTm-YJElYTF6M8AAAAAAAAAAADE8N30b15UFGH66Kyv30Bukcr01w=="
		type="text/javascript"></script>
	<script type="text/javascript">
		window.onload = function () {
			var map = new YMaps.Map(document.getElementById("YMapsID"));
			map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 10);
		}
	</script>
	{% endblock %}
{% endcomment %}

{% block header-additions %}

{% endblock %}

{% block content %}
<div class="contacts">
	<div>
		{% comment %}
			{{ about.richtext|safe }}
		{% endcomment %}
		<h1>Контактные данные</h1>
		<span>
			<a href="#" class="current">Санкт-Петербург</a>
			<a href="#">Москва</a>
		</span>
		<a href="#">order@eurocard.ru</a>
		<ul>
			<li>194044, СПб. Б. Сампсониевский проспект д.30, к.1, м. Выборгская</li>
			<li><span>(812) 702-77-77</span></li>
			<li><h3>Время работы:</h3> с 9:00 до 18:00 (Суббота, воскресенье - выходной)</li>
			<li>
				<img src="/static/images/content/photo_1.jpg" alt="Вход на нашу территорию с Большого Сампсониевского проспекта">
				<small>Вход на нашу территорию с Большого Сампсониевского проспекта</small>
			</li>
			<li>
				<img src="/static/images/content/photo_2.jpg" alt="Вход на нашу территорию с Пироговской набережной">
				<small>Вход на нашу территорию с Пироговской набережной</small>
			</li>
		</ul>
	</div>
	<div>
		<img src="/static/images/content/map.jpg" alt="Схема проезда">
	</div>
</div>

{#<div class="contacts">#}
{#    <ul>#}
{#        <li><h1>Контактные данные</h1></li>#}
{#        <li>Адрес: 194044, СПб. Б. Сампсониевский проспект д.30, к.1, м. Выборгская</li>#}
{#        <li>Телефон: (812) 702-77-77</li>#}
{#        <li>Время работы: с 9:00 до 18:00<br>Суббота, воскресенье - выходной</li>#}
{#        <li>Email: <a href="#">order@eurocard.ru</a></li>#}
{#    </ul>#}
{#    <div>#}
{#        <div id="YMapsID" style="width:620px;height:280px"></div>#}
{#    </div>#}
{#    <span>#}
{#        <small></small>#}
{#        <small></small>#}
{#    </span>#}
{#</div>#}

{% endblock %}

{% block our_clients %}
{% endblock %}
