
{% extends "layout.html" %}

{% block content %}
<div class="contacts">
	<div>
		{% comment %}
			{{ about.richtext|safe }}
		{% endcomment %}
		<h1>Контактные данные</h1>
		<span>
			<a href="#" class="current">Москва</a>
			<a href="#">Санкт-Петербург</a>
		</span>
		<a href="#">order@eurocard.ru</a>
		<ul class="current">
			<li>127015 Большая Новодмитровская улица 36, ст.м. Дмитровская</li>
			<li><span>(495) 374-58-58</span></li>
			<li><h3>Время работы:</h3> с 9:00 до 18:00 (Суббота, воскресенье - выходной)</li>
			<li>
				<img src="/static/images/content/photo_1_m.jpg" alt="Вход на нашу территорию с Большого Сампсониевского проспекта">
				<small>Вход на нашу территорию с Красной площади</small>
			</li>
			<li>
				<img src="/static/images/content/photo_2_m.jpg" alt="Вход на нашу территорию с Пироговской набережной">
				<small>Вход на нашу территорию с Красной площади</small>
			</li>
		</ul>
		<ul>
			<li>194044, СПб. Б. Сампсониевский проспект д.30, к.1, м. Выборгская</li>

			<li><span>(812) 702-77-77</span></li>
			<li><h3>Время работы:</h3> с 9:00 до 18:00 (Суббота, воскресенье - выходной)</li>
			<li>
				<a href="/static/images/content/photo_1_big.jpg" rel="kool" title="Вход на нашу территорию с Большого Сампсониевского проспекта">
					<img src="/static/images/content/photo_1.jpg" alt="Вход на нашу территорию с Большого Сампсониевского проспекта">
				</a>
				<small>Вход на нашу территорию с Большого Сампсониевского проспекта</small>
			</li>
			<li>
				<a href="/static/images/content/photo_2_big.jpg" rel="kool" title="Вход на нашу территорию с Пироговской набережной">
					<img src="/static/images/content/photo_2.jpg" alt="Вход на нашу территорию с Пироговской набережной">
				</a>
				<small>Вход на нашу территорию с Пироговской набережной</small>
			</li>
		</ul>

	</div>
	<div>
		<img class="current" src="/static/images/content/map_m.jpg" alt="Схема проезда в Москве">
		<img src="/static/images/content/map.jpg" alt="Схема проезда в Санкт-Петкрбурге">
		
	</div>
</div>

{#<div class="contacts">#}
{#    <ul>#}
{#        <li><h1>Контактные данные</h1></li>#}
{#        <li>Адрес: 194044, СПб. Б. Сампсониевский проспект д.30, к.1, м. Выборгская</li>#}
{#        <li>Телефон: (812) 702-77-77</li>#}
{#        <li>Время работы: с 9:00 до 18:00<br>Суббота, воскресенье - выходной</li>#}
{#        <li>Email: <a href="#">order@eurocard.ru</a></li>#}
{#    </ul>#}
{#    <div>#}
{#        <div id="YMapsID" style="width:620px;height:280px"></div>#}
{#    </div>#}
{#    <span>#}
{#        <small></small>#}
{#        <small></small>#}
{#    </span>#}
{#</div>#}

{% endblock %}

{% block our_clients %}
{% endblock %}
