
            <form id="easy_form" class="jClever filter calc" action="{% url 'ajax-save-order' step=12 %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="id" name="id" class="common" value="{{ object.id }}">
                <ul class="visual_first">
                    <li>
                        <span id="foil" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'foil' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.foil %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="first_flag"><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Тиснение фольгой</p>
                    </li>
                    <li>
                        <span id="emboss" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'emboss' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.emboss %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="second_flag"><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Эмбоссирование</p>
                    </li>
                    <li>
                        <span id="sign" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'sign' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.sign %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="third_flag"><span></span><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Полоса для подписи</p>
                    </li>
                    <li>
                        <span id="indent" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'indent' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.indent %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="fourth_flag"><span></span><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Индент печать</p>
                    </li>
                </ul>
                <ul class="visual_second">
                    <li>
                        <span id="print_num" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'print_num' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.print_num %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="fifth_flag"><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Печатный номер</p>
                    </li>
                    <li>
                        <span id="magnet" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'magnet' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.magnet %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="sixth_flag"><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Магнитная полоса</p>
                    </li>
                    <li>
                        <span id="barcode" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'barcode' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.barcode %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="seventh_flag"><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Штрих код</p>
                    </li>
                    <li>
                        <span id="scratch" data-price="
                        {% for item in modif %}
                            {% if item.slug == 'scratch' %}
                                {{ item.cost }}
                            {% endif %}
                        {% endfor %}
                        " class="flag{% if templ.scratch %} active{% endif %}">
                            <span></span>
                            <i class="fa fa-times"></i>
                        </span>
                        <small>
                            <i class="fa fa-question"></i>
                            <span class="eighth_flag"><i class="fa fa-circle"></i></span>
                        </small>
                        <p>Скрейтч панель</p>
                    </li>
                </ul>
                <ul class="order">
                    <li class="info"></li>
					<li class="printing"></li>
					<li class="time"></li>
                    <li>
                        <i class="error">Минимальное количество - 500 экземпляров</i>
                        <label for="count">Тираж:</label>
                        <input type="text" class="edition" id="count" name="count" placeholder="500" value="{{ object.draw }}">
                    </li>

                <input type="hidden" name="foil" class="flag" value="">
                <input type="hidden" name="emboss" class="flag" value="">
                <input type="hidden" name="sign" class="flag" value="">
                <input type="hidden" name="indent" class="flag" value="">
                <input type="hidden" name="print_num" class="flag" value="">
                <input type="hidden" name="magnet" class="flag" value="">
                <input type="hidden" name="barcode" class="flag" value="">
                <input type="hidden" name="scratch" class="flag" value="">
                <input type="hidden" name="uv" class="flag" value="">
                <input type="hidden" name="chip" class="flag" value="">

                <input type="hidden" name="count_hidden" value="">
                <input type="hidden" name="sum" value="">
                <input type="hidden" name="colors" value="">
                <input type="hidden" name="materials" value="">
                {% for it in coeff %}
                    <input type="hidden" name="{{ it.numb }}" value="{{ it.coeff }}" class="ratio">
                {% endfor %}

                    <li>
                        <label for="color">Цвет:</label>
                        <div class="select color">
                            <select name="colors" id="all_color">
                                {% for item in color %}
                                    <option value="{{ item.id }}"{% if templ.color_front and templ.color_front.id == item.id %}selected="selected"{% endif %} data-price="{{ item.cost }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li>
                        <label>Материал:</label>
                        <div class="select materials">
                            <select name="materials">
                                {% for item in materials %}
                                    <option value="{{ item.id }}" {% if templ.material and templ.material.id == item.id %}selected="selected"{% endif %}  data-price="{{ item.cost }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li>
                        <label>Сумма:</label>
                        <p class="sum">0 руб.</p>
                    </li>
                    <li>
                        <label>ФИО:</label>
                        <input type="text" name="user" value="{{ object.fio }}">
                    </li>
                    <li>
                        <label>Телефон:</label>
                        <input type="text" name="phone" value="{{ object.phone }}">
                    </li>
                    <li>
                        <label>Email:</label>
                        <input type="email" name="email" value="{{ object.email }}">
                    </li>
                    <li>
<!--
                        <a href="#" class="next_step">Заказать</a>
-->

                        <input type="submit" name="order" value="Заказать" class="next_step">

                    </li>
                </ul>


            </form>


<script>
    $(document).ready(function(){

        //Array.min = function( array ){
           //return Math.min.apply( Math, array );
        //};

        //Калькулятор
        $('form.calc').each(function(){

            //сбрасываем значения hidden
            $('input[type="hidden"]').not('.ratio').val(0);

            //присваиваем значение по умолчанию селектам
            $('select').each(function(){
                var this_name = $(this).attr('name'),
                default_val = $(this).find('option:selected').data('price').replace(',','.');
                $('input[name="'+this_name+'"]').val(default_val);
            })
            //min тираж  - 500
            $('input[name="count"]').val('')
            $('input[name="count_hidden"]').val(500);

            //переключаем состояние атрибута, передаем значение в hidden, следим за измененнием
            $('span.flag').click(function(){
                var this_flag = $(this),
                    flag_id = $(this).attr('id');
                this_flag.toggleClass('active');
                if($(this).hasClass('active')){
                    $(this).children('i').removeClass('fa-times').addClass('fa-check');
                    //console.log("qwertyui", parseFloat($(this).data('price')));
                    $('input[name="'+flag_id+'"]').val(parseFloat($(this).data('price').replace(',','.'))).trigger('change');
                }
                else{
                    if($(this).children('i').hasClass('fa-check')){
                        $(this).children('i').removeClass('fa-check').addClass('fa-times');
                    }
                    $('input[name="'+flag_id+'"]').val('0').trigger('change');
                }
            });

            //вводим тираж, следим за его значением (min - 500)
            $('input[name="count"]').keyup(function(){
                var count_val = parseFloat($(this).val())||0,
                    this_name = $(this).attr('name');
                //error mes.
                if(count_val < 500){
                    $(this).addClass('error').siblings('i').addClass('show');
                    $('input[name="count_hidden"]').val(0);
                }
                else{
                    $(this).removeClass('error').siblings('i').removeClass('show');
                    $('input[name="'+this_name+'_hidden"]').val(parseFloat(count_val)).trigger('change');
                };
            });

            //следим за изменением значений селектов
            $('select').change(function(){
                var this_name = $(this).attr('name'),
                    this_val = $(this).find("option:selected").data('price').replace(',','.');

                $('input[name="'+this_name+'"]').val(parseFloat(this_val)).trigger('change');
            });

            //счетаем
            $('input[type="hidden"]').change(function(){
                var flag_val = 0,
                    count_val = parseFloat($('input[name="count_hidden"]').val()),
                    color_val = parseFloat($('input[name="colors"]').val()),
                    material_val = parseFloat($('input[name="materials"]').val());

                $('input.flag').each(function() {
                    flag_val += parseFloat($(this).val())||0;
                });

                var values = {},
                    range_array =[];

                $('input.ratio').each(function() {
                    var this_val = parseFloat($(this).val().replace(',','.'));
                        this_name = parseFloat($(this).attr('name')),
                        q = count_val-this_name;
                    if(q > 0){
                        values[this_val] = q;
                        range_array.push(q);
                        //console.log(varrr);
                    } 
                });
                //console.log(values, range_array);
                var min = Math.min.apply(null, range_array);
                //console.log(min);

                var z = 1;
                $.each(values, function(key, value){
                    if(value == min){
                        z = parseFloat(key);
                    }              
                });
                //console.log(z);
                //console.log(val_arr);
                
                var sum = parseFloat(z*count_val*(flag_val+color_val+material_val)).toFixed(2);
                $('input[name="sum"]').val(sum);
                $('p.sum').html(sum+' руб.');
                //console.log(sum);
            });
            //console.log(sum);

            $('#easy_form a.next_step').click(function(){
                //var data = $('#easy_form input').not('.flag, .ratio').serialize();
                var flags = {};
                $('input[type="hidden"]').not('.ratio').each(function() {
                    var this_val = parseFloat($(this).val());

                        this_name = $(this).attr('name'),
                        flags[this_name] = this_val;

                });
                function add_marker(){
                    $.each(flags, function(key, value){
                       console.log(key, value);
                       if($('ul.info > li > span.'+key+' > i').length){
                            if(value != 0){
                                $('ul.info > li > span.'+key+' > i').removeClass('fa-times').addClass('fa-check');
                            }
                            else{
                                $('ul.info > li > span.'+key+' > i').removeClass('fa-check').addClass('fa-times');
                            }    
                       }
                       else {
                            $('ul.info > li > span.'+key).not('.colors, .materials').children('small').html(value);
                       };


                           
                    });
                }

                console.log(flags);
                //$('input#id').val(result.id);
                /*
                $('body').addClass('under_overlay')
                .append('<div class="overlay"></div><div class="data_checking check_easy"><form class="jClever"></form></div>');
                $('.check_easy > form').load('/static/include/helpers.html' 
                , function(){
                    add_marker();

                }
                
                );
                //console.log(data);
                //console.log(data_flag);
                return false;
                */
            });

           
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        };
        function sameOrigin(url) {
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        };
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                console.log("Before SENT")
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#easy_form').submit(function(){
            console.log("Call AJAX", csrftoken);
            $('input[name="csrfmiddlewaretoken"]').val(csrftoken);
            var action = $(this).attr('action');
            var that = $(this);
            $.ajax({
                url: action,
                type: 'POST',
                data: that.serialize(),
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function(result){
                    confirmOrder(result);
                }
            });
            return false;
        });

        /*
        $('#easy_form a.next_step').click(function(){
            var data = $('#easy_form input').not('.flag, .ratio').serialize();
                //data_flag = $('#easy_form input.flag').serialize();
            //$('input#id').val(result.id);
            $('body').addClass('under_overlay')
            .append('<div class="overlay"></div><div class="data_checking check_easy"><form class="jClever"></form></div>');
            $('.check_easy > form').load('/static/include/helpers.html' 
                , function(){
                $('.jClever').jClever({
                    selfClass: "alice",
                    applyTo: {
                        input: false,
                        select: true,
                        checkbox: true,
                        radio: true,
                        button: false,
                        file: true,
                        textarea: false
                    }
                });
            }

            );
            console.log(data);
            console.log(data_flag);
            return false;
        });
*/
        //Заказ (открываем модальное окно)
        function confirmOrder(result) {
            $('input#id').val(result.id);
            $('body').addClass('under_overlay')
            .append('<div class="overlay"></div><div class="data_checking check_easy"><form class="jClever"></form></div>');
            $('.check_easy > form').load('/second/'+result.id+'/'
                /*, function(){
                $('.jClever').jClever({
                    selfClass: "alice",
                    applyTo: {
                        input: false,
                        select: true,
                        checkbox: true,
                        radio: true,
                        button: false,
                        file: true,
                        textarea: false
                    }
                });
            }
            */
            );
        }
    });
</script>