
            <form id="easy_form" class="jClever filter calc" action="{% url 'ajax-save-order' step=12 %}" method="POST" novalidate>
                <fieldset>
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id" class="common" value="{{ object.id }}">
                    <ul class="visual_first">
                        <li>
                            <i class="tooltip">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-foil' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="foil" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'foil' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.foil %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="first_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Тиснение фольгой</p>
                        </li>
                        <li>
                            <i class="tooltip">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-emboss' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="emboss" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'emboss' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.emboss %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="second_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Эмбоссирование</p>
                        </li>
                        <li>
                            <i class="tooltip">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-sign' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="sign" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'sign' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.sign %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="third_flag"><span></span><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Полоса для подписи</p>
                        </li>
                        <li>
                            <i class="tooltip">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-indent' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="indent" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'indent' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.indent %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="fourth_flag"><span></span><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Индент печать</p>
                        </li>
                    </ul>
                    <ul class="visual_second">
                        <li>
                            <i class="tooltip top">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-printnum' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="print_num" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'print_num' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.print_num %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="fifth_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Печатный номер</p>
                        </li>
                        <li>

                            <i class="tooltip top">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-magnet' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="magnet" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'magnet' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.magnet %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="sixth_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Магнитная полоса</p>
                        </li>
                        <li>
                            <i class="tooltip top">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-barcode' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="barcode" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'barcode' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.barcode %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="seventh_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Штрих код</p>
                        </li>
                        <li>
                            <i class="tooltip top">
                                {% for k, v in tips.iteritems %}
                                    {% if k == 'tip-scratch' %}
                                        <span>{{ v|first }}</span>{{ v|last|safe }}
                                    {% endif %}
                                {% endfor %}
                            </i>
                            <span id="scratch" data-price="
                            {% for item in modif %}
                                {% if item.slug == 'scratch' %}
                                    {{ item.cost }}
                                {% endif %}
                            {% endfor %}
                            " class="flag{% if templ.scratch %} active{% endif %}">
                                <span></span>
                                <i class="fa fa-times"></i>
                            </span>
                            <small class="question">
                                <i class="fa fa-question"></i>
                                <span class="eighth_flag"><i class="fa fa-circle"></i></span>
                            </small>
                            <p>Скрейтч панель</p>
                        </li>
                    </ul>
                    <ul class="order">
                        <li class="prompt">Поля отмеченные звёздочкой - обязательны для заполнения.</li>
                        <li class="info"></li>
    					<li class="printing"></li>
    					<li class="time"></li>
                        <li>
                            <label for="i_01"><i class="fa fa-asterisk"></i> Тираж: </label>
                            <input type="text" class="edition for_valid" id="i_01" name="count" placeholder="500" value="{{ object.draw }}">
                        </li>
                        <li>
                            <label for="s_01">Цвет:</label>
                            <div class="select color">
                                <select name="colors" id="s_01">
                                    {% for item in color %}
                                        <option value="{{ item.id }}"
                                                {% if templ.color_front and templ.color_front.id == item.id %}selected="selected"
                                                {% elif cd == item.id|slugify %}selected="selected"
                                                {% endif %}
                                                data-price="{{ item.cost }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                        <li>
                            <label for="s_02">Материал:</label>
                            <div class="select materials">
                                <select name="materials" id="s_02">
                                    {% for item in materials %}
                                        <option value="{{ item.id }}"
                                                {% if templ.material and templ.material.id == item.id %}selected="selected"
                                                {% elif md == item.id|slugify %}selected="selected"
                                                {% endif %}
                                                data-price="{{ item.cost }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                        <li>
                            <label>Сумма:</label>
                            <p class="sum">0 руб.</p>
                        </li>
                        <li>
                            <label for="i_02"><i class="fa fa-asterisk"></i> ФИО:</label>
                            <input type="text" name="user" id="i_02" value="{{ object.fio }}" class="for_valid">
                        </li>
                        <li>
                            <label for="i_03"><i class="fa fa-asterisk"></i> Телефон:</label>
                            <input type="text" name="phone" id="i_03" value="{{ object.phone }}" class="for_valid">
                        </li>
                        <li>
                            <label for="i_04"><i class="fa fa-asterisk"></i> Email:</label>
                            <input type="email" name="email" id="i_04" value="{{ object.email }}" class="for_valid">
                        </li>
                        <li>
                            <input type="submit" name="order" value="Заказать" class="next_step">
                        </li>
                    </ul>
                    <input type="hidden" name="foil" class="flag" value="">
                    <input type="hidden" name="emboss" class="flag" value="">
                    <input type="hidden" name="sign" class="flag" value="">
                    <input type="hidden" name="indent" class="flag" value="">
                    <input type="hidden" name="print_num" class="flag" value="">
                    <input type="hidden" name="magnet" class="flag" value="">
                    <input type="hidden" name="barcode" class="flag" value="">
                    <input type="hidden" name="scratch" class="flag" value="">
                    <input type="hidden" name="uv" class="flag" value="">
                    <input type="hidden" name="chip" class="flag" value="">
                    <input type="hidden" name="count_hidden" value="">
                    <input type="hidden" name="sum" value="">
                    <input type="hidden" name="colors" value="">
                    <input type="hidden" name="color_front" value="">
                    <input type="hidden" name="color_back" value="">
                    <input type="hidden" name="lamination" value="">
                    <input type="hidden" name="materials" value="">
                    {% for it in coeff %}
                    <input type="hidden" name="{{ it.numb }}" value="{{ it.coeff }}" class="ratio">
                    {% endfor %}
                </fieldset>
            </form>
