<form id="final_form" class="jClever" method="post" action="{% url 'finish' %}">
    <input type="hidden" name="id" value="{{ object.id }}">
	<div class="order">
		<span>Ваш заказ<small class="close_order"><i class="fa fa-times"></i></small></span>
		<ul class="info">
			<li>
				<span class="foil"><i class="fa {% if templ.foil %}fa-check{% else %}fa-times{% endif %}"></i>Тиснение фольгой</span>
				<span class="emboss"><i class="fa {% if templ.emboss %}fa-check{% else %}fa-times{% endif %}"></i>Эмбоссирование</span>
				<span class="sign"><i class="fa {% if templ.sign %}fa-check{% else %}fa-times{% endif %}"></i>Полоса для подписи</span>
				<span class="indent"><i class="fa {% if templ.indent %}fa-check{% else %}fa-times{% endif %}"></i>Индент печать</span>
				<span class="print_num"><i class="fa {% if templ.print_num %}fa-check{% else %}fa-times{% endif %}"></i>Печатный номер</span>
				<span class="magnet"><i class="fa {% if templ.magnet %}fa-check{% else %}fa-times{% endif %}"></i>Магнитная полоса</span>
				<span class="barcode"><i class="fa {% if templ.barcode %}fa-check{% else %}fa-times{% endif %}"></i>Штрих код</span>
				<span class="scratch"><i class="fa {% if templ.scratch %}fa-check{% else %}fa-times{% endif %}"></i>Скрейтч панель</span>
	            <span class="chip"><i class="fa {% if templ.chip %}fa-check{% else %}fa-times{% endif %}"></i>Карта с чипом</span>
				<span class="uv"><i class="fa {% if templ.uv %}fa-check{% else %}fa-times{% endif %}"></i>Печать УФ краской</span>
			</li>
			<li>
				<span><span>Тираж</span>{{ object.draw }}</span>
				<span><span>Цвета</span>{{ color_front }}{% if color_back %}+{{ color_back }}{% else %}{% endif %}</span>
				<span><span>Материал</span>{{ material }}</span>
	            <span><span>Ламинция</span>{% if lamination %}{{ lamination }}{% else %}Нет{% endif %}</span>
				<span><span>ФИО</span>{{ object.FIO }}</span>
				<span><span>Телефон</span>{{ object.phone }}</span>
				<span><span>Email</span>{{ object.email }}</span>
				<span class="full_price"><span>Сумма заказа</span>{{ object.cost }} руб.</span>
			</li>
		</ul>
		<ul>
			<li>
				<span>Способ оплаты</span>
				<div class="radio">
					<input type="radio" name="payment_status" value="f" id="r_01" checked>
					<label for="r_01">Физическое лицо</label>
				</div>
				<div class="radio">
					<input type="radio" name="payment_status" value="u" id="r_02">
					<label for="r_02">Юридическое лицо</label>
				</div>
			</li>
			<li>
				<div class="select">
					<select name="raschet">
						<option value="1">Наличный расчёт</option>
						<option value="2">Безналичный расчёт</option>
					</select>
				</div>
				<input type="submit" value="Отправить заказ">
				<!--
				<a href="#" class="next_step">Получить документы</a>
				-->
			</li>
		</ul>
	</div>
</form>

<script type="application/javascript">
$('#final_form').submit(function(){
        var action = $(this).attr('action');
        var that = $(this);
        $.ajax({
            url: action,
            type: 'POST',
            data: that.serialize(),
            complete: function(result){
                document.location.href = "/";
{#                $('#easy_form').trigger( 'reset' );#}
{#                $('#fast_form').trigger( 'reset' );#}
{#                $('#final_form').addClass('hide');#}
            }
        });
        return false;
    });
</script>