
{% extends "layout.html" %}

{% block content %}
<section class="order">
    <div>
        <ul>
            <li class="current">Калькулятор карт</li>
            <li>Быстрый заказ</li>
{#            <li>Готовые варианты</li>#}
        </ul>
        <div class="easy_form current"></div>
        <div class="fast_form"></div>
{#        <div class="ready no_background"></div>#}
    </div>
</section>
    <section class="about">
        <span><span>Наши преимущества:</span></span>
        <ul>
            <li class="good_price">
                <span> Собственное производство - низкие цены.</span>
            </li>
            <li class="equipment">
                <span>Офсетная печать – исключительное качество.</span>
            </li>
            <li class="once_we">
                <span>Любая персонализация включая индент печать.</span>
            </li>
            <li class="fast_order">
            <span>Инновационные технологии.</span>
            </li>
        </ul>
    </section>

{% endblock %}
