
{% extends "layout.html" %}

{% block content %}
<section class="order">
    <div>
        <ul>
            <li class="current">Калькулятор карт</li>
            <li>Быстрый заказ</li>
            <li>Готовые варианты</li>
        </ul>
        <div class="easy_form current"></div>
        <div class="fast_form"></div>
        <div class="ready no_background"></div>
    </div>
</section>
<section class="about">
    <span><span><span>Eurocard</span> - это:</span></span>
    <ul>
        <li class="good_price">
            <span>Лучшие цены</span>
            <span>1000 карт ВСЕГО 4 рубля за шт.</span>
        </li>
        <li class="equipment">
            <span>Современное оборудование</span>
            <span>Для печати мы выбрали KBA Genius</span>
        </li>
        <li class="once_we">
            <span>Только у нас</span>
            <span>Микрошрифт, печать волосяных линий</span>
        </li>
        <li class="fast_order">
            <span>Быстрый заказ</span>
            <span>Если вы здесь не в первый раз</span>
        </li>
    </ul>
</section>

{% endblock %}
