
{% extends "layout.html" %}

{% block content %}

<section class="order">
    <div>
        <ul>
            <li class="current">Калькулятор карт</li>
            <li>Быстрый заказ</li>
            <li>Готовые варианты</li>
        </ul>
        <div class="easy_form current">
        </div>

            <script type="application/javascript">
                $('.easy_form').load('{% url "e_order" %}', function(){
                    $('.jClever').jClever({
                        selfClass: "alice",
                        applyTo: {
                            input: false,
                            select: true,
                            checkbox: true,
                            radio: true,
                            button: false,
                            file: true,
                            textarea: false
                        }
                    });
                });
            </script>

        <div class="fast_form">
        </div>

            <script type="application/javascript">
                $('.fast_form').load('{% url "f_order" %}', function(){
                    $('.jClever').jClever({
                        selfClass: "alice",
                        applyTo: {
                            input: false,
                            select: true,
                            checkbox: true,
                            radio: true,
                            button: false,
                            file: true,
                            textarea: false
                        }
                    });
                });
            </script>

        <div class="ready no_background">
            <ul>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                        <li>Тиснение фольгой</li>
                        <li>Тиснение фольгой</li>
                        <li>Тиснение фольгой</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                        <li>Индент печать</li>
                        <li>Эмбоссирование</li>
                        <li>Тиснение фольгой</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
                <li>
                    <span>Вариант №4</span>
                    <img src="/static/images/demo/ready_card.png">
                    <ul>
                        <li>Полоса для подписи</li>
                    </ul>
                    <form>
                        <label>Тираж<span><i class="fa fa-question"></i></span></label>
                        <input type="text"><span>x <small>4.99</small> = <span></span></span>
                        <input type="submit" value="Заказать">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}
