
{% extends "layout.html" %}

{% block content %}
<section class="order">
    <div>
        <ul>
            <li class="current">Калькулятор карт</li>
            <li>Быстрый заказ</li>
{#            <li>Готовые варианты</li>#}
        </ul>
        <div class="easy_form current"></div>
        <div class="fast_form"></div>
{#        <div class="ready no_background"></div>#}
    </div>
</section>
    <section class="about">
        <span><span><span>Наши преимущества:</span></span>
        <ol class="round_numbers_">
            <li><small>1</small>Обработка заказа не более 30 минут.</li>
            <li><small>2</small>Собственное производство - низкие цены.</li>
            <li><small>3</small>Отсрочка платежа до 30 календарных дней для постоянных клиентов.</li>
            <li><small>4</small>Бесплатная удобная упаковка продукции.</li>
            <li><small>5</small>Команда профессиональных дизайнеров.</li>
            <li><small>6</small>Отменное качество продукции.</li>
            <li><small>7</small>Производительность до 50 000 карт в день.</li>
            <li><small>8</small>Офсетная печать!</li>
            <li><small>9</small>Крупнейшее производство в Северо-Западном регионе.</li>
            <li><small>10</small>Европейское качество продукции соответствующие стандартам ISO.</li>
            <li><small>11</small>Используем самое современное оборудование! Для печати мы выбрали KBA Genius.</li>
            <li><small>12</small>Карты, произведенные в EUROCARD, успешно используют более 33 000 компаний по всей России!</li>
        </ol>
    </section>

{% endblock %}
