{% extends 'base.html' %}
{% load articles_tags %}
    {% block wrap_all %}
		<div class="wrap_all">

			<header>
				<div>
					<a href="/" title="eurocard">
						<img src="{{ STATIC_URL }}images/logo.png" alt="eurocard.ru">
						<span>Качество даже в мелких деталях!</span></a>
					<section class="location">
						<div>
							<ul>
								<li>
									<a href="/contacts/" class="adress" rel="1">
										Москва{#<i class="fa fa-caret-down"></i>#}
										<span>Большая Новодмитровская улица, д.36</span> {# Адрес в Москве #}
									</a>
								</li>
								<li>
									<a href="/contacts/" class="adress" rel="2">
										Санкт-Петербург{#<i class="fa fa-caret-down"></i>#}
										<span>Большой Сампсониевский проспект, д.30, к.1</span> {# Адрес в Питере #}
									</a>
								</li>
								<li><a href="">order@eurocard.ru</a></li>
							</ul>
						</div>
						<div>
							<span><a class="tel" href="tel://+74953745858">495 374 58 58</a></span> {# телефон в Москве #}
							<span><a class="tel" href="tel://+78127027777">812 702 77 77</a></span> {# телефон в Питере #}
							<a href="#" class="call_back"></i>Обратный звонок</a>
							<a target="_blank" class="present" href="{{ STATIC_URL }}images/content/presentation_rus.pdf">Презентация <i class="fa fa-download"></i></a>
						</div>
						{% comment %}
						<span>
							<span>Б.Сампсониевский проспект, д.30, к.1</span> {# Адрес в Питере #}
							<span>Южнопортовая улица, д.5, офис 410</span> {# Адрес в Москве #}
						</span>
						{% endcomment %}
						{#<a href="#">Заказать обратный звонок</a>#}
						<form class="call hide" method="post" action="/call-back/">

							<span>Заказ звонка<small class="close_form"><i class="fa fa-times"></i></small></span>
							<ul>
								<li><input type="text" name="fio" placeholder="ФИО" class="for_valid"></li>
								<li><input type="text" name="phone" placeholder="Телефон"  class="for_valid"></li>
								<li><textarea name="message" placeholder="Сообщение"  class="for_valid"></textarea></li>
								<li><input type="submit" value="Отправить"></li>

							</ul>
							{% comment %}
							<small><i class="fa fa-asterisk"></i></small>
							<input type="text" name="fio" placeholder="ФИО" class="for_valid">
							<small class="phone"><i class="fa fa-asterisk"></i></small>
							<input type="text" name="phone" placeholder="Телефон"  class="for_valid">
							<textarea name="message" placeholder="Сообщение"  class="for_valid"></textarea>
							<input type="submit" value="Отправить">
							{% endcomment %}
						</form>
					</section>
					<nav>
						<ul>{% load menubuilder %}{% menu main_menu %}{% for item in menuitems %}
						    <li>
						        <a href="{{ item.url }}" {% if item.current %} class='current'{% endif %}>{{ item.title }}</a>
						    </li>{% endfor %}
						</ul>
					</nav>
				</div>
			</header>

			<article>
            	{% block content %}
            	{% endblock %}
            	{% block section %}
            	{% endblock %}
			</article>
			<div class="clear_footer"></div>

		</div>

		{% endblock %}
		{% block footer %}
		<footer>
			<div>
				<span>

					<span>
						наш офис в Москве:<br>
						<small>Большая Новодмитровская улица, д.36</small>
						<span><a class="tel" href="tel://+74953745858">495 374 58 58</a></span>
					</span>
					<span>
						наш офис в Санкт-Петербурге:<br>
						<small>Большой Сампсониевский проспект д.30 к.1</small>
						<span><a class="tel" href="tel://+78127027777">812 702 77 77</a></span>
					</span>
					<span style="width:50%; margin:0 auto 0 27%; display: inline-block; font: 400 18px/48px 'Open Sans',sans-serif;">
                        <a style="color:#DC3B3B" href="mailto:order@eurocard.ru">order@eurocard.ru</a></span>
                    <br>Eurocard &copy; 2002-2014
				</span>
				<ul>{% load menubuilder %}{% menu main_menu %}{% for item in menuitems %}
				    <li>
				        <a href="{{ item.url }}">{{ item.title }}</a>
				    </li>{% endfor %}
				</ul>
			</div>
		</footer>

    {% endblock %}
