{% extends 'base.html' %}

{% load articles_tags %}

    {% block wrap_all %}

		<div class="wrap_all">
			<header>
				<div>
					<a href="/" title="eurocard"></a>
					<section class="location">
						<div>
							<ul>
								<li class="current">Санкт-Петербург<i class="fa fa-caret-down"></i></li>
								<li>Москва<i class="fa fa-caret-down"></i></li>
								<li>Казахстан<i class="fa fa-caret-down"></i></li>
							</ul>
						</div>
						<div>
							<span class="current">812 702 77 77</span> {# телефон в Питере #}
							<span>945 702 114 43</span> {# телефон в Москве #}
							<span>600 702 100 000</span> {# телефон в Казахстане #}

						</div>
						<span>
							<span class="current">Б.Сампсониевский проспект, д.30, к.1</span> {# Адрес в Питере #}
							<span>Какаятоулицавмоскве, д.1, к.1</span> {# Адрес в Москве #}
							<span>Ленинградская обл., д.30, к.1</span> {# Адрес в Казахстане #}
						</span>
						<a href="#">Заказать обратный звонок

						</a>
						<form class="call hide">
							<span>Заказ звонка<small><i class="fa fa-times"></i></small></span>
							<small><i class="fa fa-asterisk"></i></small>
							<input type="text" placeholder="ФИО">
							<small class="phone"><i class="fa fa-asterisk"></i></small>
							<input type="text" placeholder="Телефон">
							<textarea placeholder="Сообщение"></textarea>
							<input type="submit" value="Отправить">
						</form>
					</section>
					<nav>
						<ul>
{% load menubuilder %}

{% menu main_menu %}

{% for item in menuitems %}
    <li>
        <a href="{{ item.url }}" {% if item.current %} class='current'{% endif %}>{{ item.title }}</a>
    </li>
{% endfor %}

						</ul>
					</nav>
				</div>
			</header>
			<article>

            {% block content %}

            {% endblock %}

				<section class="about">
					<span><span><span>Evrocard</span> - это:</span></span>
					<ul>
						<li class="good_price">
							<span>Лучшие цены</span>
							<span>1000 карт ВСЕГО 4 рубля за шт.</span>
						</li>
						<li class="equipment">
							<span>Современное оборудование</span>
							<span>Для печати мы выбрали KBA Genius</span>
						</li>
						<li class="once_we">
							<span>Только у нас</span>
							<span>Микрошрифт, печать волосяных линий</span>
						</li>
						<li class="fast_order">
							<span>Быстрый заказ</span>
							<span>Если вы здесь не в первый раз</span>
						</li>
					</ul>
				</section>
				<section class="benefits">
					<span><span>Наши преимущества</span></span>
					<ul>
						<li>
							<span class="cool_one"></span>
							<h2>Сырьё Klekner</h2>
							<span>Супер-качество.</span>
						</li>
						<li>
							<span class="cool_two"></span>
							<h2>Печать Kba</h2>
							<span>Точность передачи цвета.</span>
						</li>
						<li>
							<span class="cool_three"></span>
							<h2>Ламинация VIP</h2>
							<span>Английский пластик, идеальная поверхность.</span>
						</li>
						<li>
							<span class="cool_four"></span>
							<h2>Вырубка KARL RESSLER</h2>
							<span>Немецкая точность</span>
						</li>
						<li>
							<span class="cool_five"></span>
							<h2>Сортировка VIP</h2>
							<span>Ручной отбор, 3 уровня брака.</span>
						</li>
						<li>
							<span class="cool_six"></span>
							<h2>Персонализация Matica</h2>
							<span>Быстро, качественно, надежно.</span>
						</li>
					</ul>
				</section>
			{% block our_clients %}

				<section class="clients">
					<span><span>Наши клиенты</span></span>
					<div class="carousel">
						<a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
						<a href="#" class="next"><i class="fa fa-angle-right"></i></a>
						<div>
							<div class="item" style="background: url('/static/images/cl_1.png') no-repeat center center"></div>
							<div class="item" style="background: url('/static/images/cl_2.png') no-repeat center center"></div>
							<div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
							<div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
							<div class="item" style="background: url('/static/images/cl_5.png') no-repeat center center"></div>
							<div class="item" style="background: url('/static/images/cl_6.png') no-repeat center center"></div>
							<div class="item" style="background: url('/static/images/cl_3.png') no-repeat center center"></div>
							<div class="item" style="background: url('/static/images/cl_4.png') no-repeat center center"></div>
						</div>
					</div>
				</section>

            {% endblock %}

{% block actions %}
    {% active_news_block %}
{% endblock %}

			</article>
			<div class="clear_footer"></div>
		</div>
    {% endblock %}

    {% block footer %}
		<footer>
			<div>
				<span>
					<span class="current">
						Приходите в наш офис на м. Выборгская, по адресу:<br>
						<small>Б. Сампсониевский проспект д.30 к.1</small>
						<span>812 702 77 77</span>
					</span>
					<span>
						Приходите в наш офис в Москве, по адресу:<br>
						<small>Красная площадь д. 1</small>
						<span>495 000 00 00</span>
					</span>
					<a href="mailto:order@eurocard.ru">order@eurocard.ru</a><br>
					Eurocard &copy; 2002-2013
				</span>
						<ul>
{% load menubuilder %}

{% menu main_menu %}

{% for item in menuitems %}
    <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
{% endfor %}

						</ul>
			</div>
		</footer>
    {% endblock %}
