{% extends "layout.html" %}
{% load menubuilder %}

{% block content %}

{% if prod.category_id == 1 %}
    <div class="content">
        <h1>{{ prod.title }}</h1>
        <p>Производство пластиковых карт - сложный многоступенчатый процесс.<br>
        Обычная пластиковая карта состоит из четырех слоев:</p>
        <ol class="round_numbers">
            <li><small>1</small>Слой прозрачного ламината для защиты лицевой стороны карты (80 микрон).</li>
            <li><small>2</small>Слой пластика с рисунком лицевой стороны карты (300 микрон).</li>
            <li><small>3</small>Слой пластика с рисунком оборотной стороны карты (300 микрон).</li>
            <li><small>4</small>Слой прозрачного ламината для защиты оборотной стороны карты (80 микрон).</li>
        </ol>
        <p>Таким образом в итоге мы получим пластиковую карту толщиной 0,76 мм.</p>
        <!--
        <img src="/static/images/content/do_.jpg" alt="Производство пластиковых карт.">
        -->
        <h2>В рамках производства пластиковой карты необходимо пройти следующие этапы:</h2>
        <ul class="card_way">
            <li>
                <span><img src="/static/images/content/do_.jpg" alt="Производство пластиковых карт."></span>
                <h2>Печать</h2>
                <p>При печати мы используем одну из самых современных и мощных офсетных машин - KBA Genius 52 UV. Использование данной машины позволяет нам предоставлять ряд эксклюзивных услуг: пантонная печать, печать микрошрифтов. При этом мы достигаем высочайшего качества печати и стабильности цвета. Кроме того, мы имеем возможность быстро повторить идентичный по цвету тираж, что зачастую крайне важно для компаний с постоянным большим оборотом пластиковых карт.</p>
            </li>
            <li>
                <span><img src="/static/images/content/do_.jpg" alt="Производство пластиковых карт."></span>
                <h2>Ламинация</h2>
                <p>Ламинация - процесс спекания 4х слоев в единый монолитный сендвич. Очень важно при ламинации использовать высокоглянцевые зеркала (пластины), что обеспечивает гладкую глянцевую поверхность карты.</p>
            </li>
            <li>
                <span><img src="/static/images/content/do_.jpg" alt="Производство пластиковых карт."></span>
                <h2>Вырубка</h2>
                <p>Мы производим вырубку, используя вырубщик KRAL RESLER, что обеспечивает идеальную точность высечки карты из сендвича и отсутствие неровных карев карты и волосатости.</p>
            </li>
            <li>
                <span><img src="/static/images/content/do_.jpg" alt="Производство пластиковых карт."></span>
                <h2>ОТК</h2>
                <p>Команда ОТК тщательно проверяет каждую карту с 2х сторон на пристутсвие брака, что позволяет вам быть уверенным в качестве каждой карты из тиража.</p>
            </li>
            <li>
                <span><img src="/static/images/content/do_.jpg" alt="Производство пластиковых карт."></span>
                <h2>Персонализация</h2>
                <p>Производится на промышленом европейском оборудовании, которое обеспечивает высокое качество нанесения и долгий срок службы переменных данных.</p>
            </li>
            <li>
                <span><img src="/static/images/content/do_.jpg" alt="Производство пластиковых карт."></span>
                <h2>ОТК и Упаковка</h2>
                <p>На этапе упаковки мы проводим дополнительный контроль качества продукции, чтобы исключить возможность брака. Двойной контроль качества делает наш сервис ИСКЛЮЧИТЕЛЬНЫМ.</p>
            </li>
        </ul>
        {{ prod.content|safe }}
    </div>
{% endif %}

{% endblock %}

{% block our_clients %}
{% endblock %}

{% block benefits %}
    <section class="benefits">
        <span><span>Наши преимущества</span></span>
        <ul>
            <li>
                <span class="cool_one"></span>
                <h2>Сырьё Klekner</h2>
                <span>Супер-качество.</span>
            </li>
            <li>
                <span class="cool_two"></span>
                <h2>Печать Kba</h2>
                <span>Точность передачи цвета.</span>
            </li>
            <li>
                <span class="cool_three"></span>
                <h2>Ламинация VIP</h2>
                <span>Английский пластик, идеальная поверхность.</span>
            </li>
            <li>
                <span class="cool_four"></span>
                <h2>Вырубка KARL RESSLER</h2>
                <span>Немецкая точность</span>
            </li>
            <li>
                <span class="cool_five"></span>
                <h2>Сортировка VIP</h2>
                <span>Ручной отбор, 3 уровня брака.</span>
            </li>
            <li>
                <span class="cool_six"></span>
                <h2>Персонализация Matica</h2>
                <span>Быстро, качественно, надежно.</span>
            </li>
        </ul>
    </section>
{% endblock %}

